{% extends 'inicio.html' %}

{% block titulo %}
    Listado de Espacios
{% endblock titulo %}

{% block body %}

    {% if espacios %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Numero</th>
                    <th>Tipo</th>
                    <th>Nacionalidad</th>
                    <th>Descripcion</th>
                    <th>imagen</th>
                    <th>edificio</th>
                    <th>capacidad</th>
                    <th>activo</th>
                </tr>
            </thead>
            <tbody>
                {% for Autor in autores %}
                    <tr>
                        <td>{{Espacio.numero}}</td>
                        <td>{{Espacio.espacios}}</td>
                        <td>{{Espacio.descripcion}}</td>
                        <td>{{Espacio.imagen}}</td>
                        <td>{{Espacio.edificio}}</td>
                        <td>{{Espacio.capacidad}}</td>
                        <td>{{Espacio.activo}}</td>
                        <td>
                          <!--<a href="{% url 'libro:editar_autor' Autor.id %}">Editar</a>--> 
                          <!--<a href="{% url 'libro:eliminar_autor' Autor.id %}">Eliminar</a>-->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen autores registrados</h1>
    {% endif %}



{% endblock body %}